$space: 2rem;
$some-grey: lighten(#777, 40%);

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  font-family: 'Vollkorn', serif;
  padding-left: $space;
}

.englTerm {
  font-weight: bold;
  color: black;
  padding: 0 .5rem;
}

#root {
  min-height: 300px;
}

hr {
  margin: $space 0;
}

footer {
  padding-bottom: $space;

  > div {
    padding: 0 0 0 $space;
  }
}

a,
a:visited,
a:active,
a:focus {
  color: inherit;
  text-decoration: underline;

  &:hover {
    background-color: $some-grey;
    color: black;
    text-decoration: none;
  }
}

.entry, .about {
  background-color: whitesmoke;
  margin: $space 0;
  padding: $space;
}

.about h3 {
  margin-top: 0;
}

.loading {
  margin: $space;
}

h2 {
  margin-top: 0;
}

.app input {
  padding-left: $space;
  width: 100%;
}

.glyphicon {
  padding-right: .3em;
}

.col-xs-9 {
  padding-left: 0;
}

.col-xs-3 {
  padding-right: 0;
}
