$space: 2rem;

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Vollkorn', serif;
  padding-left: $space;
}

#root {
  min-height: 300px;
}

hr {
  margin: $space 0;
}

footer {
  padding: 0 0 $space $space;
}

a,
a:visited,
a:active,
a:focus {
  color: inherit;
  text-decoration: underline;

  &:hover {
    background-color: lighten(#777, 40%);
    color: black;
    text-decoration: none;
  }
}

.entry {
  background-color: whitesmoke;
  margin: $space 0;
  padding: $space;
}

h2 {
  margin-top: 0;
}

.app input {
  padding-left: $space;
  width: 100%;
}

.glyphicon {
  padding-right: .3em;
}
