body {
  margin: 0;
  padding: 0;
	font-family: 'Vollkorn', serif !important;
}

a, a:hover, a:visited, a:active, a:focus {
	color: #333;
	text-decoration: underline;
}

#root {
	min-height: 300px;
}

hr {
	margin-top: 2em;
	margin-bottom: 2em;
}

footer {
	padding-bottom: 1em;
}